/***********************
 *  Articles listing   *
 ***********************/

body
{
    background:#ddffdd;
}

#article
{
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:3em;
    width:50%;
    line-height:1.5em;
}

.maintitle
{
    color:#3b5d14;
    font-weight:bold;
    font-size:24pt;
    text-decoration:none;
    font-style:normal;
}

.title
{
    color:#3b5d14;
    font-weight:bold;
    font-size:20pt;
    text-decoration:none;

    margin-left:1em;
    margin-top:1em;
    margin-bottom:0.5em;
}

.paragraph
{
    color:#3b5d14;
    font-weight:normal;
    text-align:justify;
    text-decoration:none;
    font-size:14pt;
}

.link
{
    font-weight:bold;
    text-decoration:none;
    color:#3b5d14;
}

.figure
{
    text-align:center;
    width:80%;
    position:relative;

    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    margin-bottom:2em;

    background:#aaff88;
    border-radius:15px;
    padding:20px;
}

.picture
{
    width:100%;
}

.label
{
    text-align:center;
    font-weight:bold;
    font-size:16;
    color:#3b5d14;

    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    width:70%;
}

.figlink
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    z-index:5;
}


