<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DwarfMaster Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>
    <body>
        <header class="statusbar">
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/blog.html">Blog</a>
            </nav>
            <a href="https://github.com/dwarfmaster" class="icon">
                <img src="/images/github.svg" title="DwarfMaster github" alt="DwarfMaster github" />
            </a>
            <a href="/atom.xml" class="icon">
                <img src="/images/feed.svg" title="Atom Feed" alt="Atom Feed" />
            </a>
        </header>

        <main>
            $body$
        </main>

        <footer class="statusbar">
            Blog by <a href="/about.html">DwarfMaster</a>
        </footer>
    </body>
</html>
