<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DwarfMaster Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">DwarfMaster Blog</a>
            </div>
            <nav>
                <a href="/"><span>Home</span></a>
                <a href="/about.html"><span>About</span></a>
                <a href="/blog.html"><span>Blog</span></a>
            </nav>
        </header>

        <main>
            $body$
        </main>

        <footer>
            Blog by <a href="/about.html">DwarfMaster</a>
        </footer>
    </body>
</html>
