<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DwarfMaster Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header class="statusbar">
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/blog.html">Blog</a>
            </nav>
        </header>

        <main>
            $body$
        </main>

        <footer class="statusbar">
            Blog by <a href="/about.html">DwarfMaster</a>
        </footer>
    </body>
</html>
